<a href="/dashboard">&larr; back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" placeholder="Enter title" />

  <label for="content">Content</label>
  <textarea
    name="content"
    placeholder="Enter content"
    cols="50"
    rows="10"
  ></textarea>

  <label for="blog-img"> Image </label>
  <input type="file" name="blog_img" />

  <button type="submit" class="btn">Add Post</button>
</form>
