<header class="header">
  <a href="/" class="header_logo">Admin Panel</a>

  <nav class="header_nav">
    <ul>
      <l1><a href="/">Home</a></l1>
      <l1><a href="/about">About</a></l1>
      <l1><a href="/contact">Contact</a></l1>
    </ul>
  </nav>

  <div class="header_btn">
    <button class="searchbtn">Logout</button>
  </div>
</header>
