<h1><%= data.title %></h1>
<!-- <span class="date"
  ></span<% var date = new Date(data.ceatedAt); var day = ("0" +
  date.getDate()).slice(-2); var month = ("0" + (date.getMonth() +
  1)).slice(-2); var year = date.getFullYear(); %> <%= day + "-" + month + "-" +
  year %>
> -->
<span class="createddate"></span>
<article class="atricle"><%= data.content %></article>
