<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
  <ul class="article-ul">
    <li><%- include('./partials/card.ejs') %></li>
  </ul>
</section>
